.hero {
  padding: 40px 0px;
}
.hero__inner {
  padding-bottom: 80px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.hero__left {
  display: flex;
  width: 50%;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;
  background: url(./../../assets/pizza.png);
  background-size: contain;
  background-repeat: no-repeat;
}
.cooking__process {
  position: relative;
  width: 270px;
}
.icon-play {
  position: absolute;
  top: 45%;
  left: 45%;
  z-index: 2;
}
.elipsis {
  position: absolute;
  z-index: 1;
  top: 33%;
  left: 34%;
}
.hero__title {
  color: #fff;
  font-size: 69.17px;
  font-weight: 800;
  line-height: 109.5%; /* 75.741px */
}
.hero__left--text {
  margin: 30px 0px;
  width: 500px;
  color: #a3a3a3;
  font-size: 19.562px;
  font-weight: 400;
}
.process_title {
  margin: 0;
  padding: 0;
  font-family: "Mulish", sans-serif;
}
.modal {
  position: fixed;
  z-index: 4;
  left: 0;
  top: 0;
}
.hero__right {
  width: 50%;
  display: flex;
  justify-content: end;
  position: relative;
  background: url(../../../public//images/menu.png);
  background-repeat: no-repeat;
  background-position-x: -100px;
}
.pizza {
  top: -40px;
  z-index: 2;
  left: 510px;
  position: absolute;
}

.fries {
  position: absolute;
  bottom: -50px;
  left: 100px;
  z-index: 2;
}

.animating {
  animation: slideShow 0.35s ease-out;
}
.display_none {
  animation: slideOut 0.3s ease-out;
}
@media screen and (max-width: 1050px) {
  .hero__title {
    font-size: 42px;
  }
  .hero__left--text {
    font-size: 16px;
  }
  .hero {
    padding: 60px 0 0 0;
  }
  .hero__right {
    img {
      width: 80%;
    }
    .fries {
      width: 200px;
      left: 0px;
    }
  }
}
@media screen and (max-width: 960px) {
  .hero__title {
    font-size: 36px;
    line-height: 60px;
    span {
      img {
        width: 40px;
      }
    }
  }
}
@media screen and (max-width: 960px) {
  .hero__inner {
    flex-direction: column-reverse;
  }
  .hero__left {
    width: 100%;
  }
  .hero__right {
    width: 100%;
    img {
      width: 100%;
    }
    .fries {
      top: 0;
      left: -80px;
      width: 300px;
    }
  }
  .hero__title {
    font-size: 68px;
    line-height: 75px;
  }
  .hero__left--text {
    width: 100%;
    font-size: 22px;
  }
 
}

@media screen and (max-width: 640px) {
  .hero__title {
    font-size: 48px;
    line-height: 60px;
  }
  .hero__left--text {
    font-size: 14px;
  }
  .hero__right {
    .fries {
      width: 200px;
      left: -80px;
    }
  }
}
@media screen and (max-width:420px) {
  .hero__right {
    .fries {
      width: 150px;
      left: -60px;
    }
  }
  .hero__title{
    font-size: 38px;
    line-height: 45px;
  }
}
@media screen and (max-width:350px) {
  .hero__right {
    .fries {
      width: 120px;
      left: -60px;
    }
  }
  .hero__title{
    font-size: 32px;
    line-height: 40px;
  }
 .cooking__img{
  width: 90%;
 }
}
@keyframes slideShow {
  from {
    transform: scale(0);
  }
  to {
    transform: scale(1);
  }
}
@keyframes slideOut {
  from {
    transform: scale(1);
  }
  to {
    transform: scale(1.5);
  }
}
