.about__left--title {
  font-size: 39px;
  font-weight: 800;
  line-height: 56px;
  letter-spacing: 0em;
  text-align: left;
  color: #fff;
}
.left__text {
  margin: 20px 0px;
  font-size: 15px;
  font-weight: 400;
  line-height: 20px;
  letter-spacing: 0em;
  text-align: left;
  color: #a3a3a3;
}

@media screen and (max-width: 1024px) {
  .about-left {
    align-items: center !important;
    .about__left--title {
      font-size: 48px;
    }
    .left__text {
      font-size: 16px;
    }
  }
}
@media screen and (max-width: 450px) {
  .about-left {
    .about__left--title {
      font-size: 28px;
    }
  }
}
