@tailwind base;
@tailwind components;
@tailwind utilities;

/* mulish-regular - latin */
@font-face {
  font-display: swap;
  font-family: "Mulish";
  font-style: normal;
  font-weight: 400;
  src: url("./assets/fonts/mulish-v12-latin-regular.eot"); /* IE9 Compat Modes */
  src: url("./assets/fonts/mulish-v12-latin-regular.eot")
      format("embedded-opentype"),
    /* IE6-IE8 */ url("./assets/fonts/mulish-v12-latin-regular.woff2")
      format("woff2"),
    /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
      url("./assets/fonts/mulish-v12-latin-regular.woff") format("woff"),
    /* Chrome 5+, Firefox 3.6+, IE 9+, Safari 5.1+, iOS 5+ */
      url("./assets/fonts/mulish-v12-latin-regular.ttf") format("truetype"),
    /* Chrome 4+, Firefox 3.5+, IE 9+, Safari 3.1+, iOS 4.2+, Android Browser 2.2+ */
      url("./assets/fonts/mulish-v12-latin-regular.svg") format("svg"); /* Legacy iOS */
}
@font-face {
  font-display: swap;
  font-family: "Mulish";
  font-style: normal;
  font-weight: 500;
  src: url("./assets/fonts/mulish-v12-latin-500.eot"); /* IE9 Compat Modes */
  src: url("./assets/fonts/mulish-v12-latin-500.eot")
      format("embedded-opentype"),
    /* IE6-IE8 */ url("./assets/fonts/mulish-v12-latin-500.woff2")
      format("woff2"),
    /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
      url("./assets/fonts/mulish-v12-latin-500.woff") format("woff"),
    /* Chrome 5+, Firefox 3.6+, IE 9+, Safari 5.1+, iOS 5+ */
      url("./assets/fonts/mulish-v12-latin-500.ttf") format("truetype"),
    /* Chrome 4+, Firefox 3.5+, IE 9+, Safari 3.1+, iOS 4.2+, Android Browser 2.2+ */
      url("./assets/fonts/mulish-v12-latin-500.svg") format("svg"); /* Legacy iOS */
}
@font-face {
  font-display: swap;
  font-family: "Mulish";
  font-style: normal;
  font-weight: 600;
  src: url("./assets/fonts/mulish-v12-latin-600.eot"); /* IE9 Compat Modes */
  src: url("./assets/fonts/mulish-v12-latin-600.eot")
      format("embedded-opentype"),
    /* IE6-IE8 */ url("./assets/fonts/mulish-v12-latin-600.woff2")
      format("woff2"),
    /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
      url("./assets/fonts/mulish-v12-latin-600.woff") format("woff"),
    /* Chrome 5+, Firefox 3.6+, IE 9+, Safari 5.1+, iOS 5+ */
      url("./assets/fonts/mulish-v12-latin-600.ttf") format("truetype"),
    /* Chrome 4+, Firefox 3.5+, IE 9+, Safari 3.1+, iOS 4.2+, Android Browser 2.2+ */
      url("./assets/fonts/mulish-v12-latin-600.svg") format("svg"); /* Legacy iOS */
}
@font-face {
  font-display: swap;
  font-family: "Mulish";
  font-style: normal;
  font-weight: 700;
  src: url("./assets/fonts/mulish-v12-latin-700.eot"); /* IE9 Compat Modes */
  src: url("./assets/fonts/mulish-v12-latin-700.eot")
      format("embedded-opentype"),
    /* IE6-IE8 */ url("./assets/fonts/mulish-v12-latin-700.woff2")
      format("woff2"),
    /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
      url("./assets/fonts/mulish-v12-latin-700.woff") format("woff"),
    /* Chrome 5+, Firefox 3.6+, IE 9+, Safari 5.1+, iOS 5+ */
      url("./assets/fonts/mulish-v12-latin-700.ttf") format("truetype"),
    /* Chrome 4+, Firefox 3.5+, IE 9+, Safari 3.1+, iOS 4.2+, Android Browser 2.2+ */
      url("./assets/fonts/mulish-v12-latin-700.svg") format("svg"); /* Legacy iOS */
}
@font-face {
  font-display: swap;
  font-family: "Mulish";
  font-style: normal;
  font-weight: 800;
  src: url("./assets/fonts/mulish-v12-latin-800.eot"); /* IE9 Compat Modes */
  src: url("./assets/fonts/mulish-v12-latin-800.eot")
      format("embedded-opentype"),
    /* IE6-IE8 */ url("./assets/fonts/mulish-v12-latin-800.woff2")
      format("woff2"),
    /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
      url("./assets/fonts/mulish-v12-latin-800.woff") format("woff"),
    /* Chrome 5+, Firefox 3.6+, IE 9+, Safari 5.1+, iOS 5+ */
      url("./assets/fonts/mulish-v12-latin-800.ttf") format("truetype"),
    /* Chrome 4+, Firefox 3.5+, IE 9+, Safari 3.1+, iOS 4.2+, Android Browser 2.2+ */
      url("./assets/fonts/mulish-v12-latin-800.svg") format("svg"); /* Legacy iOS */
}
@font-face {
  font-display: swap;
  font-family: "Mulish";
  font-style: normal;
  font-weight: 900;
  src: url("./assets/fonts/mulish-v12-latin-900.eot"); /* IE9 Compat Modes */
  src: url("./assets/fonts/mulish-v12-latin-900.eot")
      format("embedded-opentype"),
    /* IE6-IE8 */ url("./assets/fonts/mulish-v12-latin-900.woff2")
      format("woff2"),
    /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
      url("./assets/fonts/mulish-v12-latin-900.woff") format("woff"),
    /* Chrome 5+, Firefox 3.6+, IE 9+, Safari 5.1+, iOS 5+ */
      url("./assets/fonts/mulish-v12-latin-900.ttf") format("truetype"),
    /* Chrome 4+, Firefox 3.5+, IE 9+, Safari 3.1+, iOS 4.2+, Android Browser 2.2+ */
      url("./assets/fonts/mulish-v12-latin-900.svg") format("svg"); /* Legacy iOS */
}
* {
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: -moz-none;
  -o-user-select: none;
  user-select: none;
}
body {
  margin: 0;
  padding: 0;
  font-family: "Mulish", sans-serif;
  /* background-repeat: no-repeat; */
  background-size: cover;
  background: #0a0703;
  overflow-x: hidden;
  /* background-image: url(./assets/burger.png); */
  /* background-repeat: no-repeat; */
  /* background-position-x:300px; */
  /* background-position-y: 250px; */
  /* background: url("./../public/images/bg.jpg");
  background-position: center;
  background-size: cover;
  background-attachment: fixed; */
}
.container {
  margin: 0 auto;
  padding: 0 20px;
  max-width: 1440px;
}
