.button {
  padding: 9px 56px 11px 56px;
  font-size: 17.74px;
  font-style: normal;
  font-weight: 500;
  line-height: 109.5%; /* 19.425px */
  border-radius: 700px 675px 700px 700px;
  background-color: #ea2027;
  background-image: linear-gradient(315deg, #ea2027 0%, #ee5a24 74%);
  transition: all ease-in-out 0.5s;
}
.button:hover {
  background-color: #ea2027ad;
  background-image: linear-gradient(315deg, #ea202777 0%, #ee5a24a4 74%);
}
.outbutton {
  padding: 9px 56px 11px 56px;
  font-size: 17.74px;
  font-style: normal;
  font-weight: 500;
  line-height: 109.5%;
 
  border-radius: 700px 675px 700px 700px;
  // background-color: #ea2027;
  // background-image: linear-gradient(315deg, #ea2027 0%, #ee5a24 74%);
  transition: all ease-in-out 0.5s;
}
.outbutton:hover {
  border: 1px solid #ea2027;
  background-color: #ea2027ad;
  background-image: linear-gradient(315deg, #ea202777 0%, #ee5a24a4 74%);
}
.card {
  margin-top: 20px;
  width: 280px;
  padding: 20px 25px;
  border-radius: 20px;
  // background: #210a01;

  .card__body {
    margin-top: 20px;
  }
  .card__head {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
  }
}
.card__text {
  margin: 20px 0px;
  font-size: 14.32px;
  font-weight: 400;
  line-height: 109.5%; /* 15.68px */
}
// ::-webkit-scrollbar {
//   width: 0px;
// }
@media screen and (max-width: 1283px) {
  .card {
    width: 32%;
  }
}
@media screen and (max-width: 925px) {
  .card {
    width: 49%;
  }
}
@media screen and (max-width: 600px) {
  .card {
    width: 49%;
  }
  .card__head {
    img {
      width: 90px;
    }
  }
  .button {
    font-size: 12px;
    line-height: 12px;
  }
}
@media screen and (max-width: 440px) {
  .card {
    width: 100%;
  }
}

// loder style

:root {
  --cheese: #f7c946;
  --tomato: #d84b2a;
  --crust: #d19952;
  --peperoni: #a2371d;
  --olive: #1d1d1d;
}

.wrap__box {
  position: fixed;
  z-index: 554;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background: #000;
  // display: flex;
  justify-content: center;
  align-items: center;
}
.box {
  position: relative;
  width: 200px;
  height: 200px;
  margin: 0 auto;
}

.pizza-slice {
  position: absolute;
  width: 65%;
  height: 50%;
  clip-path: polygon(50% 100%, 0 0, 100% 0);
  -webkit-clip-path: polygon(50% 100%, 0 0, 100% 0);
  transform: rotate(0deg);
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -ms-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  animation-duration: 1s;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}

.slice-1 {
  top: 5%;
  left: 15%;
}

.slice-2 {
  top: 18%;
  left: 33%;
  opacity: 0;
  z-index: 2;
  transform: rotate(72deg);
  -webkit-transform: rotate(72deg);
  -moz-transform: rotate(72deg);
  -ms-transform: rotate(72deg);
  -o-transform: rotate(72deg);
  animation-name: slice;
}

.slice-3 {
  top: 39%;
  left: 27%;
  opacity: 0;
  animation-name: slice-2;
  transform: rotate(144deg);
  -webkit-transform: rotate(144deg);
  -moz-transform: rotate(144deg);
  -ms-transform: rotate(144deg);
  -o-transform: rotate(144deg);
}

.slice-4 {
  top: 38%;
  left: 5%;
  opacity: 0;
  transform: rotate(216deg);
  -webkit-transform: rotate(216deg);
  -moz-transform: rotate(216deg);
  -ms-transform: rotate(216deg);
  -o-transform: rotate(216deg);
  animation-name: slice-3;
}

.slice-5 {
  top: 17%;
  left: -3%;
  opacity: 0;
  transform: rotate(288deg);
  -webkit-transform: rotate(288deg);
  -moz-transform: rotate(288deg);
  -ms-transform: rotate(288deg);
  -o-transform: rotate(288deg);
  animation-name: slice-4;
}

.crust {
  position: absolute;
  top: 6%;
  left: 10%;
  width: 80%;
  height: 80%;
  background: var(--crust);
  -webkit-clip-path: polygon(50% 100%, 0 0, 100% 0);
  clip-path: polygon(50% 100%, 0 0, 100% 0);
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
}

.cheese {
  position: absolute;
  top: 20%;
  left: 17.5%;
  width: 65%;
  height: 65%;
  background: var(--cheese);
  -webkit-clip-path: polygon(50% 100%, 0 0, 100% 0);
  clip-path: polygon(50% 100%, 0 0, 100% 0);
  border-radius: 50%;
  overflow: hidden;
}
.peperoni {
  position: absolute;
  width: 25%;
  height: 30%;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  background: var(--peperoni);
}

.p-1 {
  top: 10%;
  left: 35%;
}
.p-2 {
  top: 38%;
  right: 16%;
}

.p-3 {
  bottom: 10%;
  left: 26%;
}
.olive {
  position: absolute;
  width: 8%;
  height: 10%;
  background: var(--olive);
  border-radius: 50%;
}
.o-1 {
  top: 10%;
  left: 24%;
  transform: scale(0.6);
}

.o-2 {
  top: 26%;
  left: 22%;
  transform: scale(0.7);
}

.o-3 {
  top: 42%;
  left: 32%;
  transform: scale(0.5);
}

.o-4 {
  top: 55%;
  left: 50%;
  border-radius: 50%;
}

.o-5 {
  bottom: 15%;
  right: 40%;
  transform: scale(0.75);
}

.o-6 {
  top: 15%;
  right: 28%;
  transform: scale(0.9);
}

.o-7 {
  top: 25%;
  right: 18%;
  transform: scale(0.5);
}

@keyframes slice {
  0% {
    opacity: 0;
  }

  25% {
    opacity: 1;
  }

  100% {
    opacity: 1;
  }
}

@keyframes slice-2 {
  0% {
    opacity: 0;
  }

  25% {
    opacity: 0;
  }

  50% {
    opacity: 1;
  }

  100% {
    opacity: 1;
  }
}

@keyframes slice-3 {
  0% {
    opacity: 0;
  }

  50% {
    opacity: 0;
  }

  75% {
    opacity: 1;
  }

  100% {
    opacity: 1;
  }
}

@keyframes slice-4 {
  0% {
    opacity: 0;
  }

  75% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

@media all and (max-width: 200px) {
  .box {
    width: 100px;
    height: 100px;
  }

  p {
    font-size: 1em;
  }
}
